<!DOCTYPE html>
<html>
<head>
  <title>Jerry's Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>
      <li><%=link_to "つぶやきの一覧", tweets_path %></li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>webpage by Jerry Chi</p>
  </footer>

</body>
</html>